@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Navigate to Browse Items to start shopping!</p>
</div>
